body, h1, h2, h3, p, img, ul, li {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eaf8fb;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    letter-spacing: 0.04em;
    line-height: 21px;
}

header {
    background-color: #333;
    background-image: url(images/headerbkgd.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    color: #fff;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 auto;
    min-height: 130px;
    padding: 45px 15px 15px;
}

ul.navigation {
    list-style: none;
}

ul.navigation li a {
    color: #fff;
    text-decoration: none;
}

ul.navigation li a div {
    background: #4a4a4a;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #595959;
    padding: 3px 10px;
}

ul.navigation li a div:hover {
    background-color: #000;
}

div.sidebar-left a {
    color: #445e64;
}

div.sidebar-left a:hover {
    text-decoration: none;
}

.list {
    border-bottom: 1px solid #c3dce1;
    padding: 0 0 20px 15px;
}

.list li {
    margin-bottom: 10px;
}

.list li a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}

footer {
    background-color: #c4d5d9;
    margin: 0 auto;
    text-align: center;
}

/* Media Queries */
@media (min-width: 900px) {
    body {
        font-size: 13px;
    }

    header {
        width: 870px;
    }

    ul.navigation {
        margin-top: 20px;
    }

    ul.navigation li {
        display: inline-block;
        margin: 0 3px 5px;
    }

    main {
        margin: 15px auto;
        width: 900px;
    }

    div.col-right {
        float: right;
        width: 660px;
    }

    div.sidebar-left {
        float: left;
        padding: 0 10px;
        width: 200px;
    }

    #photo {
        width: 200px;
    }

    footer {
        width: 900px;
    }

    .float-left {
        float: left;
        margin: 0 10px 10px 0;
    }

    .float-right {
        float: right;
    }

    .float-right img {
        margin: 0 0 10px 10px;
    }

    .clear {
        clear: both;
    }

    footer {
        padding: 15px;
    }
}

@media (max-width: 900px) {
    body {
        font-size: 1.1em;
    }

    h1, h2, h3 {
        text-align: center;
        margin: 3% 0;
    }

    main {
        width: 90%;
        margin: 0 auto;
    }

    ul.navigation li div {
        width: 50%;
        text-align: center;
        margin: 2% auto;
    }

    #photo {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    footer {
        padding: 2%;
    }
}
